:root {
    margin: 1em 2em 1em 2em;
    font-family: JetSansDigital, Arial, sans-serif;
}

body {
    font-size: 14px;
}

.form {
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin: 0.5em 0.5em 2em 0.5em;
}